Repository Cosmos-Order-Ltd/pms-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, prettier --write, bash -c 'npm run type-check', cd api-gateway && npm run test -- --passWithNoTests --findRelatedTests --watchAll=false, cd pms-backend && npm run test -- --passWithNoTests --findRelatedTests --watchAll=false, cd pms-core && npm run test -- --passWithNoTests --findRelatedTests --watchAll=false, cd pms-admin && npm run test -- run --reporter=verbose --passWithNoTests, cd pms-guest && npm run test -- run --reporter=verbose --passWithNoTests, cd pms-staff && npm run test -- run --reporter=verbose --passWithNoTests, cd pms-marketplace && npm run test -- run --reporter=verbose --passWithNoTests

feat: complete PMS platform with Proxmox deployment
  PROXMOX_DEPLOYMENT_GUIDE.md
  backup-setup.sh
  k3s-install.sh
  migrate-to-cosmos-order.sh
  proxmox-deploy.sh
  proxmox-vm-setup.sh
  security-setup.sh
Due: prettier --write

feat: update organization references to Cosmos-Order-Ltd
  create-service-repo.sh
Due: none

feat: add interactive deployment map visualization and Cyprus localization
  .env.cyprus
  Summary.md
  deployment-map.html
  docker-compose.cyprus.yml
  enhanced-deployment-map.html
  k8s-manifests/cyprus-config.yaml
  pms-backend/.env.example
  pms-backend/dist/index.js
  pms-backend/dist/index.js.map
  pms-backend/dist/utils/prisma.d.ts
  pms-backend/dist/utils/prisma.d.ts.map
  pms-backend/package-lock.json
  pms-backend/package.json
  pms-backend/src/index.ts
  pms-backend/src/routes/cyprus/index.ts
  pms-backend/src/routes/cyprus/jcc.ts
  pms-backend/src/routes/cyprus/police.ts
  pms-backend/src/routes/cyprus/sms.ts
  pms-backend/src/routes/cyprus/vat.ts
  prisma/schema.prisma
Due: eslint --fix --cache, prettier --write, bash -c 'npm run type-check', cd pms-backend && npm run test -- --passWithNoTests --findRelatedTests --watchAll=false

feat: add comprehensive Jenkins CI/CD pipeline and development setup
  DEVELOPMENT_SETUP.md
  Jenkinsfile
Due: prettier --write

feat: complete development environment deployment and automation
  .env.credentials
  DEPLOYMENT_STATUS_REPORT.md
  create-jenkins-pipeline.sh
  setup-development-environment.sh
  validate-environment.sh
Due: prettier --write

feat: complete comprehensive PMS applications validation and assessment
  APPLICATION_VALIDATION_REPORT.md
  COMPREHENSIVE_APP_ASSESSMENT.md
  FINAL_APPLICATION_VALIDATION.md
  deploy-real-applications.sh
Due: prettier --write

docs: add repository separation completion summary
  REPOSITORY_SEPARATION_COMPLETE.md
Due: prettier --write

Path conditions:
  eslint --fix --cache: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})
  bash -c 'npm run type-check': any of: *.{ts,tsx}
  cd api-gateway && npm run test -- --passWithNoTests --findRelatedTests --watchAll=false: any of: api-gateway/**/*.{ts,js}
  cd pms-backend && npm run test -- --passWithNoTests --findRelatedTests --watchAll=false: any of: pms-backend/**/*.{ts,js}
  cd pms-core && npm run test -- --passWithNoTests --findRelatedTests --watchAll=false: any of: pms-core/**/*.{ts,js}
  cd pms-admin && npm run test -- run --reporter=verbose --passWithNoTests: any of: pms-admin/**/*.{ts,tsx}
  cd pms-guest && npm run test -- run --reporter=verbose --passWithNoTests: any of: pms-guest/**/*.{ts,tsx}
  cd pms-staff && npm run test -- run --reporter=verbose --passWithNoTests: any of: pms-staff/**/*.{ts,tsx}
  cd pms-marketplace && npm run test -- run --reporter=verbose --passWithNoTests: any of: pms-marketplace/**/*.{ts,tsx}
